@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <abbr title="Phone">P:</abbr>
    509-768-5013
</address>

<address>
    <strong>Work:</strong> <a href="mailto:luholber@microsoft.com">luke.holbert@microsoft.com</a><br />
    <strong>Personal:</strong> <a href="mailto:lukeholbert12@gmail.com">lukeholbert12@gmail.com</a>
</address>
